@font-face {
  font-family: 'Enriqueta';
  src: url('./font/Enriqueta-Regular.ttf') format('truetype'),
    url('./font/Enriqueta-Bold.ttf') format('truetype');
}

//
// Variables
//

// Colors
$color-primary: rgb(236, 224, 216);
$color-secondary: rgb(244, 241, 241);

$color-shadow: rgba(0, 0, 0, 0.16);

$scrollbar-slider: rgb(80, 78, 78);
$scrollbar-background: rgb(196, 186, 186);

$color-text-primary: rgb(63, 63, 63);
$color-text-secondary: rgb(128, 119, 112);

// Fonts
$font-primary: 'Enriqueta', serif;

//
// Reset
//

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scrollbar-color: $scrollbar-slider $scrollbar-background;

  font-size: 62.5%;

  // @include responsive(bp1500) {
  //   font-size: 56.25%;
  // }

  // @include responsive(bp1300) {
  //   font-size: 50%;
  // }
}

::-webkit-scrollbar {
  background: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-slider;
}

::-webkit-scrollbar-button {
  background-color: $color-text-secondary;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 400;
}

svg {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  // This fixes a weird glitch in Chrome where SVG elements sometimes appear when they aren't supposed to when I scroll to the top of the site.
  outline: 1px solid transparent;
}

.scroll {
}
