.name {
  font-size: 5rem;

  @include responsive(bp-600) {
    font-size: 4rem;
  }

  @include responsive(bp-370) {
    font-size: 3rem;
  }
}

.title {
  font-size: 3rem;
  padding-bottom: 2rem;

  @include responsive(bp-600) {
    font-size: 2.4rem;
  }
}

.descriptions {
  width: 33vw;
  height: 100vh;
  position: sticky;
  top: 0;

  padding: 12rem 0 0 1.5vw;
  font-size: 2.2rem;

  @include responsive(bp-1400) {
    padding: 9rem 0 0 1.5vw;
  }

  @include responsive(bp-1000) {
    padding: 3rem 0 0 1.5vw;
    width: 40vw;
    font-size: 1.8rem;
  }

  @include responsive(bp-600) {
    width: 100vw;
    height: 40vh;
    padding-top: 0;
  }
}

.description {
  opacity: 0;
  height: 0;
  transition: opacity 0.4s;
  padding: 0rem 5rem 0 5rem;

  @include responsive(bp-600) {
    padding: 0;
  }

  .project-name {
    padding-bottom: 0.5rem;
    font-size: 3.8rem;
    z-index: 3;
    position: relative;

    @include responsive(bp-1000) {
      font-size: 3rem;
    }

    @include responsive(bp-600) {
      font-size: 2.8rem;
      padding: 3rem 5rem 1.5rem 5rem;
      background-color: $color-primary;
    }
  }

  & > .links {
    & > a {
      margin-right: 1.2rem;
      color: $color-text-primary;
    }

    & > a:visited {
      color: $color-text-secondary;
    }

    position: relative;
    z-index: 5;
    font-size: 1.8rem;
    margin-bottom: 4rem;

    @include responsive(bp-600) {
      background-color: $color-primary;
      padding: 0 5rem 5rem 5rem;
      margin: 0;
    }
  }

  & > p {
    position: relative;
    z-index: 4;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @include responsive(bp-600) {
      background-color: $color-primary;
      padding: 0 5rem 5rem 5rem;
    }
  }
}

#description--cotillion span::before {
  background-color: skyblue;
}

#description--portfolio span::before {
  background-color: #53d4b3;
}

#description--github span::before {
  background-color: #f7bb2d;
}

span {
  position: relative;
  display: inline-block;

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    height: 2px;
    top: 96%;
    width: 100%;

    left: 0;
    box-shadow: 8px 12px 5px $color-shadow;

    @include responsive(bp-600) {
      display: none;
    }
  }
}

.project-header {
  font-size: 3rem;

  padding: 3rem 8.5rem 15rem 0;
  text-align: right;

  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    margin: 0.5rem;

    background: linear-gradient(to right, $color-primary, $color-text-primary);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    height: 4px;
    width: 100%;

    @include responsive(bp-1000) {
      display: none;
    }
  }
}

.screenshots {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  width: 67vw;

  @include responsive(bp-1000) {
    width: 60vw;
  }

  @include responsive(bp-600) {
    width: 100vw;
    padding-top: 0;
  }
}

.screenshot-container {
  display: flex;
  justify-content: center;
  padding: 10vh 1.5vw 20vh 0;

  margin-bottom: 2px;

  & > img {
    width: 95%;
    border: 5px solid $color-secondary;
    box-shadow: 3px 5px 4px $color-shadow;
  }
}

#btn-scroll {
  cursor: pointer;
  background-color: $color-text-primary;
  color: $color-primary;
  width: max-content;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  & > pre {
    font-family: $font-primary;
  }
}

#contact {
  text-align: center;

  & > p {
    display: inline;
  }

  & > a {
    color: $color-text-primary;
  }

  & > a:visited {
    color: $color-text-secondary;
  }

  #btn-email {
    cursor: pointer;
    font-family: $font-primary;
    font-size: calc(3rem - 15%);
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    border-radius: 0;
    color: $color-text-primary;
    background-color: $color-secondary;
    border: 3px solid $color-text-secondary;
  }
}

.arrows {
  opacity: 0;
  transition: opacity 0.4s;
}

.visible {
  opacity: 1;
}

//////////////////////
//    Animations    //
//////////////////////

#arrows--github {
  animation: dash 4s infinite linear;
  stroke-dasharray: 10, 7;
}

@keyframes dash {
  to {
    stroke-dashoffset: -102;
  }
}
