.descriptions {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0;

  padding: 10rem;
  font-size: 2.2rem;
  color: darkslategrey;

  &__text {
    position: relative;
    z-index: 3;
  }
}

.screenshots {
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
}

.screenshot-container {
  display: flex;
  justify-content: center;
  padding: 10vh 0 20vh 0;
  // border: 1px solid black;
  margin-bottom: 2px;

  & > img {
    width: 95%;
    // height: auto;
    // border: 1px solid salmon;
  }
}

.description {
  opacity: 0;
  height: 0;
  transition: opacity 0.4s;
  padding: 5rem 4rem 0rem 4rem;

  & > h2 {
    padding-bottom: 0.5rem;
    font-size: 3.8rem;
  }

  & > .links {
    & > a {
      margin-right: 1rem;
    }
    position: relative;
    z-index: 5;
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  & > p {
    z-index: 3;
    padding-top: 1rem;
    padding-bottom: 2rem;

    position: relative;
    // box-shadow: -8px -10px 10px rgba($color: #000, $alpha: 0.1);
  }
}

.github-link {
  position: relative;
  display: block;
  height: 2rem;
  // width: 100%;
  z-index: 5;

  & > img {
    height: 100%;
  }
}

.arrows {
  opacity: 0;
  transition: opacity 0.4s;
  // animation: dash 4s infinite linear;
  // stroke-dasharray: 10, 7;
}

.visible {
  opacity: 1;
}

span {
  position: relative;
  // border-bottom: 2px solid skyblue;
  display: inline-block;

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    height: 2px;
    top: 96%;
    width: 100%;
    background-color: skyblue;

    left: 0;
    box-shadow: 8px 12px 5px rgba($color: #000, $alpha: 0.15);
    // border: 1px solid blue;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -102;
  }
}
