.container {
  &__about {
    height: 100vh;
    background-color: $color-primary;
  }

  &__projects {
    background-color: $color-primary;
    display: flex;
  }

  &__footer {
    height: 100vh;
    background-color: $color-primary;
  }
}
