.container {
  background-color: $color-primary;

  &__about {
    position: relative;
    z-index: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 9.5rem;

    @include responsive(bp-600) {
      padding: 14rem 2rem 14rem 2rem;
    }
  }

  &__projects {
    display: flex;

    @include responsive(bp-600) {
      display: block;
    }
  }

  &__footer {
    position: relative;
    z-index: 5;
    height: 100vh;
    padding: 20rem 0 20rem 0;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include responsive(bp-600) {
      padding: 20rem 2rem 20rem 2rem;
      font-size: 2.2rem;
    }

    @include responsive(bp-370) {
      padding: 20rem 2rem 20rem 2rem;
      font-size: 1.8rem;
    }
  }
}
