*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

svg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.container__about {
  height: 95vh;
  background-color: darkslateblue; }

.container__projects {
  height: 400vh;
  background-color: #024e6e;
  display: flex; }

.container__footer {
  height: 100vh;
  background-color: #266cbd; }

.descriptions {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #e9b712;
  padding: 10rem;
  font-size: 2.2rem;
  font-family: sans-serif;
  color: darkslategrey; }
  .descriptions__text {
    position: relative;
    z-index: 2; }

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .screenshots > img {
    width: 80%;
    border: 1px solid black;
    padding: 20rem 0 20rem 0;
    margin-bottom: 1px; }

.back-color {
  background-color: firebrick; }

.fixed {
  position: fixed;
  top: 50%;
  width: 100vw;
  border: 0.1px solid white; }
