*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

svg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.container__about {
  height: 95vh;
  background-color: darkslateblue; }

.container__projects {
  height: 400vh;
  background-color: #024e6e;
  display: flex; }

.container__footer {
  height: 100vh;
  background-color: #266cbd; }

.descriptions {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0;
  background-color: #e9b712;
  padding: 10rem;
  font-size: 2.2rem;
  font-family: sans-serif;
  color: darkslategrey; }
  .descriptions__text {
    position: relative;
    z-index: 2; }

.screenshots {
  display: flex;
  flex-direction: column; }

.screenshot {
  display: flex;
  justify-content: center;
  padding: 10vh 0 10vh 0;
  margin-bottom: 2px; }
  .screenshot > img {
    width: 95%; }

.back-color {
  background-color: firebrick; }

.description,
.arrow {
  opacity: 0;
  height: 0;
  transition: visibility 0.4s, opacity 0.4s; }
  .description > p,
  .arrow > p {
    position: relative;
    z-index: 2; }

.hidden {
  opacity: 1;
  transition: visibility 0.4s, opacity 0.4s; }

span {
  border-bottom: 2px dashed yellow;
  display: inline-block; }
