@font-face {
  font-family: 'Enriqueta';
  src: url("./font/Enriqueta-Regular.ttf") format("truetype"), url("./font/Enriqueta-Bold.ttf") format("truetype"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scrollbar-color: #504e4e #c4baba;
  font-size: 62.5%; }

::-webkit-scrollbar {
  background: #c4baba; }

::-webkit-scrollbar-thumb {
  background: #504e4e; }

::-webkit-scrollbar-button {
  background-color: #807770; }

body {
  box-sizing: border-box;
  font-family: "Enriqueta", serif;
  font-weight: 400; }

svg {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 1px solid transparent; }

.container__about {
  height: 100vh;
  background-color: #ece0d8; }

.container__projects {
  background-color: #ece0d8;
  display: flex; }

.container__footer {
  height: 100vh;
  background-color: #ece0d8; }

.descriptions {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0;
  padding: 15rem 10rem 0 10rem;
  font-size: 2.2rem;
  color: #3f3f3f; }
  .descriptions__text {
    position: relative;
    z-index: 3; }

.screenshots {
  display: flex;
  flex-direction: column;
  padding-top: 25vh; }

.screenshot-container {
  display: flex;
  justify-content: center;
  padding: 10vh 0 20vh 0;
  margin-bottom: 2px; }
  .screenshot-container > img {
    width: 95%;
    border: 5px solid #f4f1f1;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.16); }

.description {
  opacity: 0;
  height: 0;
  transition: opacity 0.4s;
  padding: 0rem 4rem 0 4rem; }
  .description > h2 {
    padding-bottom: 0.5rem;
    font-size: 3.8rem; }
  .description > .links {
    position: relative;
    z-index: 5;
    font-size: 1.8rem;
    margin-bottom: 4rem; }
    .description > .links > a {
      margin-right: 1.2rem;
      color: #3f3f3f; }
    .description > .links > a:visited {
      color: #807770; }
  .description > p {
    z-index: 3;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative; }

.arrows {
  opacity: 0;
  transition: opacity 0.4s; }

.visible {
  opacity: 1; }

span {
  position: relative;
  display: inline-block; }
  span::before {
    z-index: -1;
    position: absolute;
    content: '';
    height: 2px;
    top: 96%;
    width: 100%;
    left: 0;
    box-shadow: 8px 12px 5px rgba(0, 0, 0, 0.16); }

#description--cotillion span::before {
  background-color: skyblue; }

#description--portfolio span::before {
  background-color: #53d4b3; }

#description--github span::before {
  background-color: #f7bb2d; }

#arrows--github {
  animation: dash 4s infinite linear;
  stroke-dasharray: 10, 7; }

@keyframes dash {
  to {
    stroke-dashoffset: -102; } }

.course-projects {
  height: 20vh;
  font-size: 3.4rem;
  color: #3f3f3f;
  padding: 40rem 0 23rem 0; }
